version: '3.8'

services:
  fhir-benchmark:
    image: fhir-benchmark-img
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: '4'
    networks:
      - fs-benchmark-network
    tty: true
    stdin_open: true

  sqlserver-benchmark:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-benchmark-test
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: $(SQLDB_PASSWORD)
    ports:
      - "1434:1433"
    networks:
      - fs-benchmark-network
    hostname: sqlserver_benchmark
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P '$(SQLDB_PASSWORD)' -C -Q 'SELECT 1' -b -o /dev/null
      interval: 30s
      retries: 3
      timeout: 10s

  firelyserver-benchmark:
    image: firely/server:5.9.1
    depends_on:
      sqlserver-benchmark:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 8G
          cpus: '8'
    environment:
      # DB Connection string for Firely Server
      - VONK_Repository=SQL
      - VONK_SqlDbOptions:ConnectionString=Server=sqlserver-benchmark-test; Initial Catalog=VonkData; User Id=sa; Password=$(SQLDB_PASSWORD); Encrypt=false
      - VONK_BundleOptions:DefaultTotal=accurate
      - VONK_Validation:Parsing=Permissive
      - VONK_Validation:Level=Core
      - VONK_SubscriptionEvaluatorOptions:Enabled=False
      - VONK_Audit:EnableAuditEventLogging=False
      - VONK_Audit:EnableAuditFileLogging=False
      - VONK_Audit:AuditEventSignatureEnabled=False
      
    ports:
      - "8080:4080"
    volumes:
      - ./firelyserver-license.json:/app/firelyserver-license.json
      - ./appsettings.instance.json:/app/appsettings.instance.json
    networks:
      - fs-benchmark-network

networks:
  fs-benchmark-network:
    external: true