services:
  fhir-benchmark:
    image: fhir-benchmark-img
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: '4'
    # networks:
    #   - fs-benchmark-network
    network_mode: "host"
    tty: true
    stdin_open: true

  # sqlserver:
  #   image: mcr.microsoft.com/mssql/server:2022-latest
  #   environment:
  #     ACCEPT_EULA: "Y"
  #     MSSQL_SA_PASSWORD: ${SQLDB_PASSWORD}
  #   ports:
  #     - "1434:1433"
  #   networks:
  #     - fs-benchmark-network
  #   healthcheck:
  #     test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P '${SQLDB_PASSWORD}' -C -Q 'SELECT 1' -b -o /dev/null
  #     interval: 30s
  #     retries: 3
  #     timeout: 10s

  firelyserver:
    image: firely/server:5.9.0
    # depends_on:
    #   sqlserver:
    #     condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 8G
          cpus: '8'
    environment:
      VONK_Repository: MongoDb
      VONK_MongoDbOptions__ConnectionString: mongodb+srv://vonk:${MONGODB_PASSWORD}@fs-bfdb.gapqn.mongodb.net/perf-test-cluster?retryWrites=true&w=majority&appName=fs-bfdb
      VONK_MongoDbOptions__EntryCollection: vonkentries
      VONK_BundleOptions__DefaultTotal: none
      VONK_Validation__Parsing: Permissive
      VONK_Validation__Level: Core
      VONK_SubscriptionEvaluatorOptions__Enabled: False
      VONK_Audit__EnableAuditEventLogging: False
      VONK_Audit__EnableAuditFileLogging: False
      VONK_Audit__AuditEventSignatureEnabled: False
      VONK_SqlDbOptions__ConnectionString: "Server=sqlserver; Initial Catalog=VonkData; User Id=sa; Password=${SQLDB_PASSWORD}; Encrypt=false"

    ports:
      - "8080:4080"
    volumes:
      - ./firelyserver-license.json:/app/firelyserver-license.json
      - ./appsettings.instance.json:/app/appsettings.instance.json
    # networks:
    #   - fs-benchmark-network
    network_mode: "host"

# networks:
#   fs-benchmark-network:
